.footer-cont {
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 185, 185);
  padding: 2rem;
  
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  
  align-items: center;
}
.footer-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  
}
.footer-left-top {
  display: flex;
  flex-direction: column;
 
}
.footer-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
}
.footer-logo1 {
  width: 7rem;
  height: 5rem;
  

}
.footetitle1 {
  color: white;
  font-size: 20px;
  font-family: "nunito";
  font-family: sans-serif;
  margin-top: 0%;
}
.footetitle2 {
  color: white;
  font-size: 17px;
  font-family: "nunito";
  font-family: sans-serif;
}
.footer-logo2 {
  margin-top: 5%;
  width: 11rem;
  height: 5rem;
}
.footer12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.copyright {
  display: flex;

  color: white;
  margin-top: 5%;
}
